<section class="vh-100">
  <section class="mask d-flex align-items-center h-100 gradient-custom-3">
    <section class="container h-100">
      <section class="row d-flex justify-content-center align-items-center h-100">
        <section class="col-12 col-md-9 col-lg-7 col-xl-6">
          <section class="card" style="border-radius: 15px;">
            <section class="card-body p-5 bg-light" style="border-radius: 15px;">
              <h2 class="text-uppercase text-center mb-5">Register</h2>
              <form [formGroup]="registroForm" (ngSubmit)="Enviar()">
                <section class="form-outline mb-4">
                  <input type="text" class="form-control form-control-lg" formControlName="firstname" />
                  <label class="form-label" for="firstname">First Name</label>
                  <section *ngIf="firstname?.invalid && (firstname?.dirty || firstname?.touched)">
                    <section *ngIf="firstname?.errors?.['required']" class="alert alert-success">
                      El Nombre es obligatorio
                    </section>
                  </section>
                </section>

                <section class="form-outline mb-4">
                  <input type="text" class="form-control form-control-lg" formControlName="lastname" />
                  <label class="form-label" for="lastname">Last Name</label>
                  <section *ngIf="lastname?.invalid && (lastname?.dirty || lastname?.touched)">
                    <section *ngIf="lastname?.errors?.['required']" class="alert alert-success">
                      El Apellido es obligatorio
                    </section>
                  </section>
                </section>

                <section class="form-outline mb-4">
                  <input type="text" class="form-control form-control-lg" formControlName="username" />
                  <label class="form-label" for="username">Username</label>
                  <section *ngIf="username?.invalid && (username?.dirty || username?.touched)">
                    <section *ngIf="username?.errors?.['required']" class="alert alert-success">
                      El usuario es obligatorio
                    </section>
                  </section>
                </section>

                <section class="form-outline mb-4">
                  <input type="password" class="form-control form-control-lg" formControlName="password" />
                  <label class="form-label" for="password">Password</label>
                  <section *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                    <section *ngIf="password?.errors?.['required']" class="alert alert-success">
                      La Contraseña es obligatorio
                    </section>
                  </section>
                </section>

                <section class="d-flex justify-content-center">
                  <input type="submit" value="Registrar" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body-light" [disabled]="registroForm.invalid">
                </section>
              </form>
            </section>
          </section>
        </section>
      </section>
    </section>
  </section>
</section>
